/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
    padding-top:80px;
}
.selected {
    border-color:yellow !important;
    border: 1.5px solid;
}
